{{ section.settings.html }}

{% schema %}
{
  "name": "Custom HTML Blank",
  "settings": [
    {
      "type": "html",
      "id": "html",
      "label": "HTML content",
      "default": "<p>Write your own custom HTML content.</p>"
    }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Custom HTML Blank",
      "settings": {}
    }
  ]
}
{% endschema %}